<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body class="bg-light text-light">
  <div class="container text-center">
    <div class="row">
      <div *ngFor="let account of accounts" class="col">
        <div class="card bg-primary" style="width: 18rem;">
          <img class="rounded mx-auto d-block" src="../../assets/avatarmen.png" width="45%">
          <div class="card-body">
            <h5 class="card-title">{{account.name}}</h5>
            <button class="btn btn-outline-light" (click)="visitUser(account.name)">visit me</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</body>
</html>
