<html>
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>
  </head>

  <body>

  <div class="container-fluid text-center bg-light">
    <h1>{{title}} of {{account.name}}</h1>
    <br>
  </div>

  <div class="container-fluid bg-light">
    <div class="row justify-content-around">
      <form class="form-inline my-2 my-lg-0">
        <input #tagSearch class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               (input)="searchTweetByTag($event.target.value)">
      </form>

      <div class="container-fluid text-center">
        <table class="table">
          <tbody>
          <tr *ngFor="let searchTweet of searchTweets">
            <td><b>Searched tweets:</b></td>
            <td>{{searchTweet.tag}}</td>
            <td>{{searchTweet.tweetedBy.name}}
            <td>{{searchTweet.message}}</td>
            <td>{{searchTweet.published}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-outline-primary" routerLink="/login" onclick="logout()">Logout</button>
    </div>
    <br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card bg-primary text-center text-white">
          <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && addMessage()" #f="ngForm" novalidate>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !message.valid }">
                <label for="message">Message</label>
                <input type="text" class="form-control" id="message" name="message" [(ngModel)]="model.message" #name="ngModel" required />
                <div *ngIf="f.submitted && !message.valid" class="help-block">Message is required</div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-outline-light">Add Kweet</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
          </div>
        </div>
      </div>

      <div class="col">
        <h3 class="text-center">My latest tweet</h3>

        <div class="col">
          <div class="card bg-primary text-center text-white">
            <div class="card-body">
              <p class="card-text">{{tweets.reverse()[0].message}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Timeline tweets-->
    <div class="row">
      <div class="col">
        <br>
        <h3 class="text-center">Tweets: {{tweetsfromfollowers.length}}</h3>

        <div *ngFor="let tweetTimeline of tweetsfromfollowers" class="col">
          <div class="card bg-primary text-center text-white">
            <div class="card-body">
              <h5 class="card-title">{{tweetTimeline.message}}</h5>
              <p class="card-text">{{tweetTimeline.tweetedBy.name}}</p>
              <p class="card-text">{{tweetTimeline.published}}</p>
              <p class="card-text">{{tweetTimeline.tag}}</p>
            </div>
          </div>
        </div>
      </div>

      <!--Gerating trends based on followers tags written in a tweet-->
      <div class="col">
        <h3 class="text-center">My trends</h3>

        <div *ngFor="let tweet of tweetsfromfollowers" class="col">
          <div class="card bg-primary text-center text-white">
            <div class="card-body">
              <h5 class="card-title">{{tweet.tag}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Timeline mentions-->
    <div class="row">
      <div class="col">
        <br>
        <p>Mentions: {{tweetMentions.length}}</p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Tweet</th>
            <th scope="col">Mention</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tweet of tweetLikesFromUser; let i = index">
            <td>{{tweet.message}}</td>
            <td *ngFor="let mention of tweetMentions; let j = index">{{mention.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col">

      </div>
    </div>
  </div>

  <br>
  <router-outlet></router-outlet>
  </body>
</html>
