<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class="container-fluid text-center">
    <h1>{{title}}</h1>
  </div>

  <!--S0 Profiel foto en naam-->
  <div class="container">
    <h2 class="text-center">Profile</h2>
    <br>
    <div class="row justify-content-center">
      <div class="name col text-center">
        <img class="img-responsive" src="../../assets/avatarmen.png" width="45%">
        <p>name: {{account.name}}</p>
      </div>

      <!--S1 Profiel details-->
      <div class="personalinformation col justify-content-center text-center">
        <p>bio: {{account.bio}}</p>
        <p>email: {{account.email}}</p>
        <p>location: {{account.location}}</p>
        <p>website: {{account.website}}</p>
        <button class="btn btn-outline-light " routerLink="/login" onclick="logout()">Logout</button>
      </div>
    </div>
    <br>
  </div>

  <br>

  <!--S2 Eigen tweets-->
  <div class="container">
    <h2 class="text-center">Messages</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Message</th>
        <th scope="col">Published</th>
        <th scope="col">Tags</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tweet of tweets; let i = index">
        <td>{{tweet.message}}</td>
        <td>{{tweet.published}}</td>
        <td>{{tweet.tag}}</td>
        <td><button class="btn btn-outline-light" (click)="editTweet(tweet)">edit</button></td>
        <td><button class="btn btn-outline-light" (click)="removeTweet(tweet)">remove</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--S3 + S4 Following & Followers-->
  <div class="container">
    <div class="row">

      <!--S3 Following-->
      <div class="col text-center">
        <h2 class="text-center">Following</h2>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">{{following.length}}</th>
            </tr>
            </thead>
            <tbody *ngIf="following.length > 0 && following.length != null; else noFollowing">
            <tr *ngFor="let follow of following">
              <td>{{follow.name}}</td>
            </tr>
            <ng-template #noFollowing>
              <tr>
                following: 0
              </tr>
            </ng-template>
            </tbody>
          </table>
      </div>

      <!--S4 Followers-->
      <div class="col text-center">
        <h2 class="text-center">Followers</h2>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">{{followers.length}}</th>
          </tr>
          </thead>
          <tbody *ngIf="followers.length > 0 && followers.length != null; else noFollowing">
          <tr *ngFor="let follower of followers">
            <td>{{follower.name}}</td>
          </tr>
          <ng-template #noFollowing>
            <tr>
              following: 0
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>
</html>
