<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="container-fluid text-center">
    <h1>{{title}}</h1>
  </div>

  <!--S0 Profiel foto en naam-->
  <div class="container">
    <br>
    <!--Profiel details S0-->
    <div class="row">
      <div class="card bg-light text-center" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/avatarmen.png">
        <div class="card-body">
          <h5 class="card-title">name: {{account.name}}</h5>
          <p class="card-text">bio: {{account.bio}}</p>
          <p class="card-text">location: {{account.location}}</p>
          <p class="card-text">location: {{account.email}}</p>
          <p class="card-text">website: {{account.website}}</p>
          <button class="btn btn-primary" routerLink="/login" onclick="logout()">Logout</button>
          <button class="btn btn-outline-primary"
                  onclick="document.getElementById('id01').style.display='block'">Edit account</button>
        </div>
      </div>

      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <header class="w3-container bg-primary text-center text-white">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            <h2>Edit account settings</h2>
          </header>
          <div class="w3-container">

            <form name="form" (ngSubmit)="f.form.valid && editAccount()" #f="ngForm" novalidate>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" #name="ngModel" required>
              </div>

              <div class="form-group">
                <label for="bio">Bio</label>
                <input type="text" class="form-control" id="bio" name="bio" [(ngModel)]="model.bio" #bio="ngModel" required>
              </div>

              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" [(ngModel)]="model.location" #location="ngModel" required>
              </div>

              <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" [(ngModel)]="model.website" #website="ngModel" required>
              </div>

              <div class="form-group text-center text-white">
                <button [disabled]="loading" class="btn btn-primary">Save settings</button>
              </div>
            </form>

          </div>
          <footer class="w3-container bg-primary text-center text-white">
            <p>Account {{account.name}}</p>
          </footer>
        </div>
      </div>

      <div class="col">
        <!--S2 Eigen tweets-->
        <div class="row">
          <div *ngFor="let tweet of tweets" class="col">
            <div class="card bg-light text-center">
              <div class="card-body">
                <h5 class="card-title">{{tweet.message}}</h5>
                <p class="card-text">{{tweet.published}}</p>
                <p class="card-text">{{tweet.tag}}</p>
                <button class="btn btn-outline-primary" (click)="editTweet(tweet)">edit</button>
                <button class="btn btn-outline-primary" (click)="removeTweet(tweet)">remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <br>

  <!--S3 + S4 Following & Followers-->
  <div class="container">
    <!--S3 Following-->
    <h2 class="text-center">Following</h2>
    <div *ngIf="following.length > 0 && following.length != null; else noFollowing" class="row">
      <div *ngFor="let follow of following" class="col">
        <div class="card bg-light text-center">
          <img class="rounded mx-auto d-block" src="../../assets/avatarmen.png" width="20%">
          <div class="card-body">
            <h5 class="card-title">{{follow.name}}</h5>
            <a href="#/profile" class="btn btn-outline-primary">visit my account</a>
          </div>
        </div>
      </div>
      <ng-template #noFollowing>
        <p>
          following: 0
        </p>
      </ng-template>
    </div>
    <br>
  </div>

  <div class="container">
    <!--S4 Followers-->
    <h2 class="text-center">Followers</h2>
    <div *ngIf="followers.length > 0 && followers.length != null; else noFollowers" class="row">
      <div *ngFor="let follower of followers" class="col">
        <div class="card bg-light text-center">
          <img class="rounded mx-auto d-block" src="../../assets/avatarmen.png" width="20%">
          <div class="card-body">
            <h5 class="card-title">{{follower.name}}</h5>
            <a href="#/profile" class="btn btn-outline-primary">visit my account</a>
          </div>
        </div>
      </div>
      <ng-template #noFollowing>
        <p>
          following: 0
        </p>
      </ng-template>
    </div>
    <br>
  </div>
  </body>
</html>
